In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
data_movies = pd.read_csv('movies.csv')

def label_year (row):
    return row['title'][-4:-1]

def title_without_year(row):
    return row['title'][0:-7]

data_movies['year'] = data_movies.apply(lambda row: label_year(row), axis=1)
data_movies['title'] = data_movies.apply(lambda row: title_without_year(row), axis=1)

print('this dataset contains: ', len(data_movies), 'movies')
data_movies.iloc[:10]

this dataset contains:  62423 movies

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,995
1,2,Jumanji,Adventure|Children|Fantasy,995
2,3,Grumpier Old Men,Comedy|Romance,995
3,4,Waiting to Exhale,Comedy|Drama|Romance,995
4,5,Father of the Bride Part II,Comedy,995
5,6,Heat,Action|Crime|Thriller,995
6,7,Sabrina,Comedy|Romance,995
7,8,Tom and Huck,Adventure|Children,995
8,9,Sudden Death,Action,995
9,10,GoldenEye,Action|Adventure|Thriller,995

In [3]:
data_ratings = pd.read_csv('ratings.csv', usecols=[0, 1])
print('this dataset contains: ', len(data_ratings), 'ratings')
data_ratings.iloc[:10]

this dataset contains:  25000095 ratings

   userId  movieId
0       1      296
1       1      306
2       1      307
3       1      665
4       1      899
5       1     1088
6       1     1175
7       1     1217
8       1     1237
9       1     1250

In [5]:
# data = data_ratings.merge(data_movies,on='movieId', how='left') IF WE NEED MERGE
limit_testing = 3000000
df = data_ratings[:limit_testing].groupby(['userId','movieId']).size().reset_index(name='count')

In [6]:
print(len(df))
basket = df.groupby(['userId', 'movieId'])['count'].sum().unstack().reset_index().fillna(0).set_index('userId')
print(len(basket))
basket.head(10)

3000000
19806

movieId,1,2,3,4,5,6,7,8,9,10,...,208791,208793,208795,208800,208939,209049,209053,209055,209103,209163
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
basket.to_csv()